body {
    background-color: rgba(196, 242, 241, 0.48);
    font-family: Georgia, serif;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  img {
    border-radius: 6px;
    max-width: 100%;
    height: auto;
  }
.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}
/* The animation code */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
/* Use a media query to add a breakpoint at 800px: */
@media only screen and (min-width: 480px) {
  .left, .main, .right {
    width: 100%;
  }
}